@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --color-gold: #D4AF37;
  --color-gold-light: #F1E5AC;
  --color-black: #000000;
  --color-dark: #0F0F0F;
}

body {
  background-color: var(--color-dark);
  color: white;
}

/* @theme: {
  extend: {
    colors: {
      gold: {
        500: '#D4AF37',
        400: '#F1E5AC',
      },
    }
  }
} */
